<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="/js/jquery-3.2.1.js"></script>
</head>
<body>
<script type="text/javascript">
    function save(id) {
        alert($("#us"+id).val())
        $.ajax({
            type: 'POST',
            url: 'http://localhost:8080/userUpdate',
            dataType: 'json',
            contentType: "application/json;charset=UTF-8",
            data:JSON.stringify({
                userId : $("#id"+id).val(),
                username : $("#us"+id).val(),
                password : $("#pa"+id).val(),
            }),
            success: function (data) {

                //设置input的值id
                $("#id"+id).val()
                $("#us"+id).val()
                $("#pa"+id).val()
                alert("修改成功")
                //
                // viewmodel.datalist = data;
                //
                // viewmodel.text = "数据请求成功，已渲染";
            },error:function (data) {
                alert("修改失败")
            }
        });
    }
</script>


<div>
    <!--th:each 放在那里，那里循环 -->
    <table border="1">
        <tr>
            <th>用户id</th>
            <th>用户名</th>
            <th>密码</th>
            <th>操作</th>
        </tr>
        <tr th:each="obj,userStat : ${users}">
            <td><input th:id="id+${userStat.index}" th:value="${obj.getUserId()}"/></td>
            <td><input th:id="us+${userStat.index}" th:value="${obj.getUsername()}"/></td>
            <td><input th:id="pa+${userStat.index}" th:value="${obj.getPassword()}"/></td>
            <td>
                <a th:href="@{/delete(uname=${obj.getUserId()})}">删除</a>
                <br />
                <input type="button" th:onclick="'save('+${userStat.index}+')'" value="编辑信息" />
            </td>
        </tr>
        <tr>
            <form action="/userSave">
                <td><input type="text" name="username"/></td>
                <td><input type="text" name="password"/></td>
                <td><input type="submit" value="新增"></td>
            </form>

        </tr>
    </table>
</div>



</body>
</html>